@charset "utf-8";

//ーーーーーーーー bulma調節用 ーーーーーーーーーーーーーーーーーーーーー
// .content {
//     white-space: pre-wrap;
// }

// .modal {
//     display: block;
// }

//ーーーーーーーー 共通系のクラスはここへ ーーーーーーーーーーーーーーーーーーーーー
.is-max-full {
    max-width: 100%;
}

.is-max-half {
    max-width: 50%;
}

.wideWidth {
    width: 90%;
}

.is-multi-line {
    white-space: pre-wrap;
}

.border-bottom {
    border-bottom: 3px solid #333;
    padding: 6px;
}

.border-bottom-light {
    border-bottom: 0.8px solid #ababab;
}

.hidden-x {
    overflow-x: hidden;
}

.scrollView {
    overflow: scroll;
}

.scroll-x {
    overflow-x: scroll;
    /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
    -ms-overflow-style: none;
    /*Firefoxへの対応*/
    scrollbar-width: none;

    /*Google Chrome、Safariへの対応*/
    .contents_box::-webkit-scrollbar {
        display: none;
    }
}

.content-detail {
    text-align: left;
    white-space: pre-wrap;
}

.box-height-basic {
    height: 198px;
}

.content-row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content-row-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.content-row-top-center {
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.content-row-center {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.content-row-space-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.content-row-space-top-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.content-row-space-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.content-multi-row-space-left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.content-multi-row-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.no-shrink {
    flex-shrink: 0;
}

.active-flex-cut-max-length {
    min-width: 0;
    // max-width: 100%;
    word-break: keep-all;
}

.cut-max-length {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-border {
    border: 0px;
}

// =============== 入力レイアウト系 ==================
.radio-input,
.checkbox-input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;

    // background-color: rgb(233, 233, 246);
    input {
        display: none;
        padding: 0;
        margin: 0;
    }

    label {
        cursor: pointer;
        background-color: var(--color-mono-7);
        border-radius: 24px;
    }

    label::before {
        content: "□";
        // color: blue;
    }

    input:checked~label {
        color: white;
        background-color: #323232;
        border-radius: 24px;
    }

    input:checked~label::before {
        content: "◆";
        // color: blue;
    }
}